[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autologging = "*"
pytest-watch = "*"
mypy = "*"
black = "==19.10b0"
pytest-cov = "*"
codecov = "*"
pipfile = "*"
twine = "*"
cookiecutter = "*"

[packages]
gym = "*"
numpy = "*"
# Require older version of tensorflow
tensorflow = "==1.15.2"
keras-rl = {editable = true,git = "https://github.com/dat-boris/keras-rl.git",ref = "add-multi-agent"}
wandb = "*"
playtest = ">=0.0.10"

[requires]
python_version = "3.7"
